<!DOCTYPE html>
<html>
<head>
    <title>Зміна декларації</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/особистий_кабінет_пацієнта/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/зміна_декларації/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div>
    @RenderBody()
    <!-- Unnamed (Master 5) -->
    <!-- Unnamed (Dynamic Panel) -->
    <div id="u246" class="ax_default">
        <div id="u246_state0" class="panel_state" data-label="State1" style="">
            <div id="u246_state0_content" class="panel_state_content">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u247" class="ax_default">
                    <div id="u247_state0" class="panel_state" data-label="State1" style="">
                        <div id="u247_state0_content" class="panel_state_content">
                            <form method="post" action="/Home/Open">
                                <!-- Unnamed (Rectangle) -->
                                <div id="u248" class="ax_default button">
                                    <div id="u248_div" class=""></div>
                                    <div id="u248_text" class="text ">
                                        <p><input type="submit" value="Вийти" /></p>
                                    </div>
                                </div>
                            </form>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u249" class="ax_default link_button">
                                <div id="u249_div" class=""></div>
                                <div id="u249_text" class="text ">
                                    <p><span style="text-decoration:underline ;">@ViewBag.PersonLogin</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u250" class="ax_default link_button">
                                <div id="u250_div" class=""></div>
                                <div id="u250_text" class="text ">
                                    <p><span>Ви увійшли як</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u251" class="ax_default">
                    <div id="u251_state0" class="panel_state" data-label="State1" style="">
                        <div id="u251_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u252" class="ax_default heading_1">
                                <div id="u252_div" class=""></div>
                                <div id="u252_text" class="text ">
                                    <p><span>@ViewBag.PersonName</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u253" class="ax_default box_1">
                                <div id="u253_div" class=""></div>
                                <div id="u253_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Image) -->
                            <div id="u254" class="ax_default image">
                                <img id="u254_img" class="img " src="~/Content/images/вхід/u17.png" />
                                <div id="u254_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
